In [1]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

#decision tree

from sklearn import tree
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import classification_report 

#knn
from sklearn.neighbors import KNeighborsClassifier

from sklearn.decomposition import PCA

In [2]:
df=pd.read_csv('iris_csv.csv')

In [3]:
df

     sepallength  sepalwidth  petallength  petalwidth           class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [4]:
# df=df.drop("Id",axis=1)
X = df.drop("class", axis = 1)
y = df["class"]
print('Shape of X = ', X.shape)
print('Shape of y = ', y.shape)

Shape of X =  (150, 4)
Shape of y =  (150,)

In [5]:
d={'Iris-setosa':0,'Iris-versicolor':1, 'Iris-virginica':2}
df["class"]=df["class"].map(d)
y = df["class"]
print (y)
df

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: class, Length: 150, dtype: int64

     sepallength  sepalwidth  petallength  petalwidth  class
0            5.1         3.5          1.4         0.2      0
1            4.9         3.0          1.4         0.2      0
2            4.7         3.2          1.3         0.2      0
3            4.6         3.1          1.5         0.2      0
4            5.0         3.6          1.4         0.2      0
..           ...         ...          ...         ...    ...
145          6.7         3.0          5.2         2.3      2
146          6.3         2.5          5.0         1.9      2
147          6.5         3.0          5.2         2.0      2
148          6.2         3.4          5.4         2.3      2
149          5.9         3.0          5.1         1.8      2

[150 rows x 5 columns]

In [27]:
X_train, X_test, y_train, y_test =train_test_split(X, y, test_size=0.2, random_state=51)
print('Shape of X_train = ', X_train.shape)
print('Shape of y_train = ', y_train.shape)
print('Shape of X_test = ', X_test.shape)
print('Shape of y_test = ', y_test.shape)

Shape of X_train =  (120, 4)
Shape of y_train =  (120,)
Shape of X_test =  (30, 4)
Shape of y_test =  (30,)

In [33]:
sc = StandardScaler()
sc.fit(X_train)
X_train_sc = sc.transform(X_train)
X_test_sc = sc.transform(X_test)
# X_test_sc

In [34]:
# Feature Test Data, non-standardized
X_test[0:5]

     sepallength  sepalwidth  petallength  petalwidth
78           6.0         2.9          4.5         1.5
121          5.6         2.8          4.9         2.0
99           5.7         2.8          4.1         1.3
36           5.5         3.5          1.3         0.2
92           5.8         2.6          4.0         1.2

In [37]:
# Feature Test Data, standardized.
X_test_sc[0:5]

array([[ 0.26596461, -0.29631376,  0.47596309,  0.4699413 ],
       [-0.21944608, -0.53820255,  0.70743451,  1.13969136],
       [-0.09809341, -0.53820255,  0.24449168,  0.20204127],
       [-0.34079876,  1.15501895, -1.37580822, -1.27140888],
       [ 0.02325926, -1.02198012,  0.18662383,  0.06809126]])

In [38]:
X_train_sc =  pd.DataFrame(X_train_sc, columns = ["SepalLengthCm",'SepalWidthCm','PetalLengthCm','PetalWidthCm'])
X_test_sc =  pd.DataFrame(X_test_sc, columns = ["SepalLengthCm",'SepalWidthCm','PetalLengthCm','PetalWidthCm'])

In [40]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)

In [44]:
pred=clf.predict(X_test)
print (pred)
clf.score(X_test,y_test)

['Iris-versicolor' 'Iris-virginica' 'Iris-versicolor' 'Iris-setosa'
 'Iris-versicolor' 'Iris-virginica' 'Iris-virginica' 'Iris-virginica'
 'Iris-setosa' 'Iris-virginica' 'Iris-virginica' 'Iris-setosa'
 'Iris-versicolor' 'Iris-virginica' 'Iris-virginica' 'Iris-virginica'
 'Iris-versicolor' 'Iris-virginica' 'Iris-virginica' 'Iris-setosa'
 'Iris-virginica' 'Iris-virginica' 'Iris-setosa' 'Iris-setosa'
 'Iris-versicolor' 'Iris-virginica' 'Iris-setosa' 'Iris-setosa'
 'Iris-setosa' 'Iris-virginica']

0.9333333333333333

In [45]:
print ("Accuracy : " , accuracy_score(y_test,pred)*100)  
print("Report : \n", classification_report(y_test, pred))
print("F1 Score : ",f1_score(y_test, pred, average='macro')*100)

Accuracy :  93.33333333333333
Report :
                  precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00         9
Iris-versicolor       0.83      0.83      0.83         6
 Iris-virginica       0.93      0.93      0.93        15

       accuracy                           0.93        30
      macro avg       0.92      0.92      0.92        30
   weighted avg       0.93      0.93      0.93        30

F1 Score :  92.22222222222221

In [47]:
clf1=KNeighborsClassifier()
clf1.fit(X_train, y_train)
pred=clf1.predict(X_test)
clf1.score(X_test,y_test)

0.9666666666666667

In [20]:
print ("Accuracy : " , accuracy_score(y_test,pred)*100)  
print("Report : \n", classification_report(y_test, pred))
print("F1 Score : ",f1_score(y_test, pred, average='macro')*100)

Accuracy :  96.66666666666667
Report :
               precision    recall  f1-score   support

           0       1.00      1.00      1.00         9
           1       0.86      1.00      0.92         6
           2       1.00      0.93      0.97        15

    accuracy                           0.97        30
   macro avg       0.95      0.98      0.96        30
weighted avg       0.97      0.97      0.97        30

F1 Score :  96.28647214854111

In [14]:
clf1=KNeighborsClassifier()
clf1.fit(X_train_sc,y_train)
pred=clf1.predict(X_test_sc)
clf1.score(X_test_sc,y_test)

0.9333333333333333

In [50]:
pca=PCA(n_components=3)
X_trainn=pca.fit_transform(X_train_sc)
X_testt=pca.transform(X_test_sc)

In [51]:
ex=pca.explained_variance_ratio_
ex

array([0.73933305, 0.22185578, 0.0338909 ])

In [52]:
clf1=KNeighborsClassifier()
clf1.fit(X_trainn,y_train)
pred=clf1.predict(X_testt)
clf1.score(X_testt,y_test)

0.9666666666666667